{% extends 'Navbars/adminappnavbar.html' %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
{% block css %}

    {% endblock %}
</head>
<body>
{% block body %}
<div class="row">
            <h3>All Orders</h3>
            <a href="{% url 'AllDeliveredItems' %}"><h3>Delivered</h3></a>
            <a href="{% url 'AllNotDeliveredItems' %}"><h3>Not Delivered</h3></a>
            <a href="{% url 'AllCanceledItems' %}"><h3>Canceled</h3></a>
          </div>
    {% if items %}
<br>
<table style="width:100%" align="center">
  <tr>
    <td align="center"><b>itemname</b></td>
    <td align="center"><b>itemprice</b></td>
    <td align="center"><b>itemcategary</b></td>
    <td align="center"><b>supplier</b></td>
    <td align="center"><b>supplierphone</b></td>
    <td align="center"><b>supplierimage</b></td>
    <td align="center"><b>status</b></td>
    <td align="center"><b>quantity</b></td>
    <td align="center"><b>itemimage</b></td>
    <td align="center"><b>user</b></td>
    <td align="center"><b>Day</b></td>
    <td align="center"><b>time</b></td>
  </tr>
    {% for itm in items %}
    <tr>
    <td align="center">{{itm.item.itemname}}</td>
    <td align="center">{{itm.item.itemprice}}</td>
    <td align="center">{{itm.item.itemcategary}}</td>
    <td align="center">{{itm.supplier}}</td>
    <td align="center">{{itm.supplier.phone}}</td>
      <td align="center">
        <img src="{{itm.supplier.image.url}}" style="height:50px;width:50px;padding:5px"/>
      </td>
    <td align="center">{{itm.status}}</td>
    <td align="center">{{itm.quantity}}</td>
      <td align="center">
        <img src="{{itm.item.itemimage.url}}" style="height:50px;width:50px;padding:5px"/>
      </td>
      <td align="center">{{itm.bookinguser}}</td>
      <td align="center">{{itm.applydate}}</td>
      <td align="center">{{itm.applytime}}</td>
  </tr>
    {% endfor %}
</table>
{% else %}
<h3 align="center" style="color:red">No DATA</h3>
    {% endif %}


{% endblock %}
</body>
</html>