{% extends 'navbar.html' %}
{% load static %}
{% block body %}
<div class="banner_section layout_padding">
   
            <div id="my_slider" class="carousel slide" data-ride="carousel">
               <div class="carousel-inner">
                  <div class="carousel-item active">
                     <div class="container">
                        <div class="row">
                           <div class="col-md-6">
                              <div class="taital_main">
                                <h4 class="banner_taital" style="margin-left: 0%;">Contact Form</h4><br/>
                                <form method="post">
                                    {% csrf_token %}
                                   <input type="text" class="Enter_text" style="width: 80%; color: #000;border-radius: 50px;" placeholder="Name " name="user"><br>
                                <input type="text" class="Enter_text" style="width: 80%; color: #000;border-radius: 50px;" placeholder="Email" name="mail"><br>
                                 <div>
                                     <input type="text" class="Enter_text" style="width: 38%; color: #000; border-radius: 50px; display: inline-block;" placeholder="Rating" name="rating">
                                     <input type="text" class="Enter_text" style="width: 38%; color: #000; border-radius: 50px; display: inline-block; margin-left: 4%;" placeholder="phone" name="phone">
                                 </div>
                                <input type="text" class="Enter_text" style="width: 80%; color: #000;border-radius: 50px;" placeholder="Problem" name="problem"><br>
                                <input type="text" class="Enter_text" style="width: 80%; color: #000;border-radius: 50px;" placeholder="Address" name="address"><br>


                                    <input  style="width: 38%;height:10%;margin-left:20%; color: #000; border-radius: 50px; display: inline-block;background-color:#ffc107" type="submit"/>


                                </form>
                              </div>
                           </div>
                           <div class="col-md-6">
                              <div><img src="static/images/img-1.png" class="image_1"></div>
                           </div>
                        </div>
                        <div class="button_main"><input type="hidden" class="Enter_text" placeholder="Enter keywords" name=""></div>
                     </div>
                  </div>
                  <div class="carousel-item">
                     <div class="container">
                        <div class="row">
                           <div class="col-md-6">
                              <div class="taital_main">
                                 <h4 class="banner_taital"><span class="font_size_90">50%</span> Discount Online Shop</h4>
                                 <p class="banner_text">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration </p>
                                 <div class="book_bt"><a href="#">Shop Now</a></div>
                              </div>
                           </div>

                        </div>
                        <div class="button_main"><button class="all_text">All</button><input type="text" class="Enter_text" placeholder="Enter keywords" name=""><button class="search_text">Search</button></div>
                     </div>
                  </div>
                  <div class="carousel-item">
                     <div class="container">
                        <div class="row">
                           <div class="col-md-6">
                              <div class="taital_main">
                                 <h4 class="banner_taital"><span class="font_size_90">50%</span> Discount Online Shop</h4>
                                 <p class="banner_text">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration </p>
                                 <div class="book_bt"><a href="#">Shop Now</a></div>
                              </div>
                           </div>
                           <div class="col-md-6">
                              <div><img src="static/images/img-1.png" class="image_1"></div>
                           </div>
                        </div>
                        <div class="button_main"><button class="all_text">All</button><input type="text" class="Enter_text" placeholder="Enter keywords" name=""><button class="search_text">Search</button></div>
                     </div>
                  </div>
               </div>
              
            </div>
         
</div>
{% endblock %}